.container {
  width: 100%;
  margin: 0 auto;
}

.default {
  max-width: var(--content-max);
}

.wide {
  max-width: var(--content-max-wide);
}

.narrow {
  max-width: var(--content-max-narrow);
}

.full {
  max-width: none;
}
